.content > h1{
    font-size: 40px;
    font-weight: 700;
}

.content > h2{
    font-size: 1.5em;
    font-weight: 600;
}

.content > h3{
    font-size: 1.25em;
    font-weight: 600;
}

.content{
    font-size: 16px;
}